In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('books.csv')
df1 = df
needDrop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Issuance type', 'Shelfmarks']
for colname in needDrop:
    df1 = df1.drop(columns=colname)
df1.head(5)

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",http://www.flickr.com/photos/britishlibrary/ta...

In [4]:
df2 = df1
regex = r'^(\d{4})'
extr = df['Date of Publication'].str.extract(regex, expand=False)
df2['Date of Publication'] = pd.to_numeric(extr)
df2

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Flickr URL
0,206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...,...
8282,4158088,London,1838.0,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,1831.0,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834.0,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834.0,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",http://www.flickr.com/photos/britishlibrary/ta...

In [12]:
import re
stateCityU = []
with open('uniplaces.txt') as file:
    for line in file:
        if '[edit]' in line:
            state = line
        else:
            p1 = re.compile(r'[(](.*?)[)]', re.S)
            university = re.findall(p1, line)
            stateCityU.append((state,line,university))
universityInfoDf = pd.DataFrame(stateCityU, columns=['State', 'City', 'University'])
def get_citystate(item):
    if ' (' in item:
        return item[:item.find(' (')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item
towns_df =  universityInfoDf.applymap(get_citystate)
towns_df.to_csv('StateCityUniv.csv')
towns_df

         State           City                               University
0      Alabama         Auburn                      [Auburn University]
1      Alabama       Florence            [University of North Alabama]
2      Alabama   Jacksonville          [Jacksonville State University]
3      Alabama     Livingston             [University of West Alabama]
4      Alabama     Montevallo               [University of Montevallo]
..         ...            ...                                      ...
512  Wisconsin    River Falls    [University of Wisconsin–River Falls]
513  Wisconsin  Stevens Point  [University of Wisconsin–Stevens Point]
514  Wisconsin       Waukesha                     [Carroll University]
515  Wisconsin     Whitewater     [University of Wisconsin–Whitewater]
516    Wyoming        Laramie                  [University of Wyoming]

[517 rows x 3 columns]

In [ ]:
# D. Decoding