In [48]:
import pandas as pd

df = pd.read_csv('trimet_03411_2.csv')
tempDF = pd.DataFrame()
templis = []
for i in range(len(df)):
    row = df.loc[i]
    reapeat = row['OCCURRENCES']
    for t in range(reapeat):
        templis.append(row)

newdf = pd.DataFrame(templis)
newdf.to_csv('new_trimet_03411_2.csv')
newdf
# newdf.fillna(value='N', axis=)

,VEHICLE_BREADCRUMB_ID,VEHICLE_NUMBER,EQUIPMENT_CLASS,ARRIVE_DATETIME,SERVICE_DATE,ARRIVE_TIME,LONGITUDE,LATITUDE,DWELL,DISTANCE,SPEED,SATELLITES,HDOP,OCCURRENCES,VALID_FLAG,LAST_USER,LAST_TIMESTAMP
0,4313659804,3411,B,29OCT2021:07:16:40,29OCT2021:00:00:00,26200.0,-122.799683,45.530268,0,121213.91,26,12,0.9,1,Y,TRANS,31OCT2021:06:06:40
1,4313659805,3411,B,29OCT2021:07:16:45,29OCT2021:00:00:00,26205.0,-122.799692,45.529737,0,121404.20,26,12,0.8,1,Y,TRANS,31OCT2021:06:06:40
2,4313659806,3411,B,29OCT2021:07:16:50,29OCT2021:00:00:00,26210.0,-122.799703,45.529232,0,121584.65,25,12,0.9,1,Y,TRANS,31OCT2021:06:06:40
3,4313659807,3411,B,29OCT2021:07:16:55,29OCT2021:00:00:00,26215.0,-122.799717,45.528730,0,121768.38,25,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
4,4313659808,3411,B,29OCT2021:07:17:00,29OCT2021:00:00:00,26220.0,-122.799732,45.528243,0,121942.26,24,12,1.1,1,Y,TRANS,31OCT2021:06:06:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,4313659800,3411,B,29OCT2021:07:16:20,29OCT2021:00:00:00,26180.0,-122.799635,45.532347,0,120462.60,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1237,4313659801,3411,B,29OCT2021:07:16:25,29OCT2021:00:00:00,26185.0,-122.799655,45.531832,0,120649.61,26,12,0.8,1,Y,TRANS,31OCT2021:06:06:40
1238,4313659802,3411,B,29OCT2021:07:16:30,29OCT2021:00:00:00,26190.0,-122.799660,45.531313,0,120836.62,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1239,4313659803,3411,B,29OCT2021:07:16:35,29OCT2021:00:00:00,26195.0,-122.799667,45.530790,0,121023.63,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1240,4311203411,2934,B,29OCT2021:15:08:33,29OCT2021:00:00:00,54513.0,-122.677833,45.500667,0,127867.46,37,10,0.8,1,Y,TRANS,30OCT2021:06:21:52

In [49]:
values = {"VALID_FLAG": 'N'}
newdf.fillna(value=values, inplace=True)
set(newdf["VALID_FLAG"].tolist())

{'N', 'Y'}

In [52]:
newdf['ARRIVE_TIME'].interpolate(method='linear')
newdf['ARRIVE_TIME'].value_counts()
# newdf

,VEHICLE_BREADCRUMB_ID,VEHICLE_NUMBER,EQUIPMENT_CLASS,ARRIVE_DATETIME,SERVICE_DATE,ARRIVE_TIME,LONGITUDE,LATITUDE,DWELL,DISTANCE,SPEED,SATELLITES,HDOP,OCCURRENCES,VALID_FLAG,LAST_USER,LAST_TIMESTAMP
0,4313659804,3411,B,29OCT2021:07:16:40,29OCT2021:00:00:00,26200.0,-122.799683,45.530268,0,121213.91,26,12,0.9,1,Y,TRANS,31OCT2021:06:06:40
1,4313659805,3411,B,29OCT2021:07:16:45,29OCT2021:00:00:00,26205.0,-122.799692,45.529737,0,121404.20,26,12,0.8,1,Y,TRANS,31OCT2021:06:06:40
2,4313659806,3411,B,29OCT2021:07:16:50,29OCT2021:00:00:00,26210.0,-122.799703,45.529232,0,121584.65,25,12,0.9,1,Y,TRANS,31OCT2021:06:06:40
3,4313659807,3411,B,29OCT2021:07:16:55,29OCT2021:00:00:00,26215.0,-122.799717,45.528730,0,121768.38,25,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
4,4313659808,3411,B,29OCT2021:07:17:00,29OCT2021:00:00:00,26220.0,-122.799732,45.528243,0,121942.26,24,12,1.1,1,Y,TRANS,31OCT2021:06:06:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,4313659800,3411,B,29OCT2021:07:16:20,29OCT2021:00:00:00,26180.0,-122.799635,45.532347,0,120462.60,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1237,4313659801,3411,B,29OCT2021:07:16:25,29OCT2021:00:00:00,26185.0,-122.799655,45.531832,0,120649.61,26,12,0.8,1,Y,TRANS,31OCT2021:06:06:40
1238,4313659802,3411,B,29OCT2021:07:16:30,29OCT2021:00:00:00,26190.0,-122.799660,45.531313,0,120836.62,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1239,4313659803,3411,B,29OCT2021:07:16:35,29OCT2021:00:00:00,26195.0,-122.799667,45.530790,0,121023.63,26,12,0.7,1,Y,TRANS,31OCT2021:06:06:40
1240,4311203411,2934,B,29OCT2021:15:08:33,29OCT2021:00:00:00,54513.0,-122.677833,45.500667,0,127867.46,37,10,0.8,1,Y,TRANS,30OCT2021:06:21:52

In [53]:

(newdf[newdf['EQUIPMENT_CLASS'] == 'B']
 .sort_values('ARRIVE_TIME')
 .groupby('DISTANCE').median()
)

,VEHICLE_BREADCRUMB_ID,VEHICLE_NUMBER,ARRIVE_TIME,LONGITUDE,LATITUDE,DWELL,SPEED,SATELLITES,HDOP,OCCURRENCES
DISTANCE,,,,,,,,,,
4740.81,4.313659e+09,3411.0,20913.0,-122.839500,45.516177,0.0,15.0,12.0,0.8,1.0
4786.75,4.313659e+09,3411.0,20918.0,-122.839505,45.516305,0.0,6.0,12.0,0.8,1.0
4806.43,4.313659e+09,3411.0,20923.0,-122.839505,45.516355,0.0,3.0,12.0,0.8,1.0
4865.49,4.313659e+09,3411.0,20928.0,-122.839512,45.516523,0.0,8.0,12.0,0.6,1.0
5026.25,4.313659e+09,3411.0,20933.0,-122.839527,45.516965,0.0,22.0,12.0,0.6,1.0
...,...,...,...,...,...,...,...,...,...,...
224852.37,4.313660e+09,3411.0,31112.0,-122.842767,45.503688,0.0,16.0,10.0,0.8,1.0
224921.27,4.313660e+09,3411.0,31117.0,-122.842733,45.503892,0.0,9.0,10.0,0.9,1.0
224980.32,4.313660e+09,3411.0,31122.0,-122.842975,45.503968,0.0,8.0,11.0,0.7,1.0
225029.53,4.313660e+09,3411.0,31127.0,-122.843168,45.504007,0.0,7.0,11.0,0.7,1.0
225068.90,4.313660e+09,3411.0,31132.0,-122.843327,45.504043,0.0,5.0,11.0,0.7,1.0